*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    animation: bg-change 3000ms infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* padding-top: 100%; */
    /* padding-bottom: 50%; */
}

.app{
    text-align: center;
    color: white;
    font-size: 56px; 
    padding-bottom: 50%;
font-family: fantasy;
     /* padding-bottom: 80%;  */
}
.app2{
    text-align: center;
    color: white;
    font-size: 26px; 
     /* padding-bottom: 80%;  */
} 
/* changing bg image */
@keyframes bg-change {
    0% {
      background-image: url('assets/pic1.jpg');
    }
     25%{
        background-image: url('assets/pic2.jpg');
        background-color: white;
     }

     50%{
        background-image: url('assets/pic1.jpg');
     }
    100% {
        background-image: url('assets/pic1.jpg');
    }
  }

/* ******************************************************************************** */
@media only screen and (max-width:619px) {
    .main{
        width: 100%;
    }
}